@import "../../styles/mixins.scss";

.contactContainer {
  position: relative;
  height: 350px;
  margin-top: 25%;
  display: flex;
  align-items: center;
  background: $offWhite;
  @include Desktop {
    margin-top: 150px;
  }
}

.contactDesc {
  @include section-desc;
}

.contactBgShape {
  height: 35%;
  width: 100%;
  position: absolute;
  bottom: 350px;
  z-index: 1;
  background: $offWhite;
  -webkit-clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
  @include Desktop {
    height: 150px
  }
}

.contact {
  @include max-width-center;
}

.contactBgShape2 {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 350px;
  z-index: -1;
  background: $cloudGrey;
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0 100%);
  clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0 100%);
  @include Desktop {
    height: 100px
  }
}
