@import "../../styles/mixins.scss";

.photographySlider {
  .slick-next{
    right: 0;
  }
  .slick-prev{
    left: 0;
  }
  .slick-dots {
    bottom: 0;
  }
  .slick-dots li button:before {
    color: white;
  }
}

.imageSlider {
  padding: 100px 0;
}

.sliderTitle {
  @include max-width-center;
  font-size: 3rem;
  padding: 50px 0;
  h2 {
    margin: 0;
  }
}

.sliderImg {
  padding-top: 100vh;
  position: relative;
}

.sliderImgInfo {
  position: absolute;
  bottom: 0;
  padding: 25px 50px;
  color: white;
  h2 {
    font-size: 2.5rem;
  }
}

.photoGrid {
  @include max-width-center;
  display: grid;
  height: 1000px;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: auto;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
}

.photoCell {
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  border-radius: 2px;
  transition: all 0.5s ease;
  h4, p {
    color: white;
    margin: 10px 0;
  }
}

.photoCell:hover {
  transform: scale(1.025);
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  opacity: 0.9;
  h4, p {
    color: orange;
  }
}
