@import '../../styles/mixins';

.project-card {
  display: flex;
  flex-direction: column-reverse;
  padding: 50px 0;
  border-bottom: 1px solid $cloudGrey;
  @include Desktop {
    padding: 75px 0;
    justify-content: flex-start;
    flex-direction: row;
  }

  .icon {
    display: none;
    width: 75px;
    height: 100%;
    background-color: grey;
    @include Desktop {
      display: inline;
      width: 120px;
      transform: rotateZ(15deg);
    }
  }
  .icon:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .project-desc {
    width: 100%;
    padding: 25px 0;
    @include Desktop {
      width: 90%;
      margin: 0 50px;
    }
    h2 {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    }
    h3 {
      color: $lightGrey;
      font-size: 1.1rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    .tech {
      font-size: 0.8rem;
      letter-spacing: 1.5px;
      color: $lightGrey;
    }
    a {
      color: $deepGrey;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
      .project-link-arrow {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
      }
    }
    .project-link-arrow {
      margin: 0 5px;
      opacity: 0;
      transform: translate(0px);
    }
  }

  .project-card-image {
    width: 100%;
    height: 100%;
    background-color: grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    @include Desktop {
      width: 400px;
    }
  }
  .project-card-image:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
.project-card:last-child {
  border: none;
}
