@import "../styles/mixins.scss";

.block {
  @include max-width-center;
  padding: 5% 0;
}

.desc-section {
  @include Desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.desc-photo {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 2px;
  @include Desktop {
    width: 48%;
    margin-bottom: 0;
  }
}

.desc-photo:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.desc-blurb {
  padding: 0 5%;
  @include Desktop {
    width: 48%;
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.paragraph-section {
  font-size: 1rem;
  padding: 0 5%;
  @include Desktop {
    padding: 0;
  }
}

.post-info {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding: 3%;
  border-bottom: 1px solid $primary;
  max-width: 1280px;
  margin: 0 auto;
  @include Desktop {
    padding: 5% 0 20px 0;
  }
  p {
    margin: 0;
  }
}
