@import "../styles/mixins.scss";

.block {
  padding: 10% 0;
}

.desc-section {
  @include Desktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.desc-photo {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 2px;
  @include Desktop {
    width: 48%;
    margin-bottom: 0;
  }
}

.desc-photo:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.desc-blurb {
  padding: 0 5%;
  @include Desktop {
    width: 48%;
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.photo-grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1px;
  @include Desktop {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 10px;
  }

  .photo {
    border-radius: 2px;
  }
}

.photo-grid-section::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.photo-grid-section > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.paragraph-section {
  font-size: 1rem;
  padding: 0 5%;
  @include Desktop {
    font-size: 1.2rem;
  }
}

.post-info {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding: 3%;
  border-bottom: 1px solid $primary;
  @include Desktop {
    padding: 5% 0 20px 0;
  }
  p {
    margin: 0;
  }
}
