@import "../styles/variables.scss";

@mixin Desktop {
  @media (min-width: $desktop-size) {
    @content;
  }
}

@mixin max-width-center {
  margin: 0 5%;
  max-width: $maxwidth;
  @include Desktop {
    margin: 0 auto;
  }
}

@mixin section-desc {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  h2 {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 5px;
    margin-bottom: 2rem;
    @include Desktop {
      font-size: 3rem;
      letter-spacing: 10px;
    }
  }
  p {
    margin-bottom: 4rem;
    color: $ashGrey;
  }
  @include round-button;

}

@mixin round-button {
  a {
    color: white;
    padding: 8px 35px;
    border-radius: 5px;
    background: $deepGrey;
    text-decoration: none;

    box-shadow: 0 2px 0 0 $lightGrey;
  }
  a:hover {
    color: $primary;
  }
}

