@import "../styles/variables.scss";

@mixin max-width-center {
  max-width: $maxwidth;
  margin: 0 15%;
}

@mixin section-desc {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  h2 {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 10px;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 4rem;
    color: $ashGrey;
  }
  @include round-button;

}

@mixin round-button {
  a {
    color: white;
    padding: 8px 35px;
    border-radius: 25px;
    background: $lightGrey;
  }
  a:hover {
    color: orange;
  }
}
