@import "../styles/variables.scss";

@mixin Desktop {
  @media (min-width: $desktop-size) {
    @content;
  }
}

@mixin max-width-center {
  margin: 0 5%;
  max-width: $maxwidth;
  @include Desktop {
    margin: 0 auto;
  }
}

@mixin section-desc {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    @include Desktop {
      font-size: 3rem;
      letter-spacing: 10px;
    }
  }
  p {
    color: $ashGrey;
  }
  a {
    @include round-button;
  }

}

@mixin round-button {
  & {
    padding: 10px 35px;
    text-decoration: none;
    color: white;
    background: $primary;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    transition: all 0.1s ease-in-out;
  }
  &:hover {
    background: #25b8c5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.18);
    transform: translate(0, -3px);
  }
}

