@import "../../styles/mixins.scss";

.subPageContainer {
  min-height: 100vh;
}

.banner {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include Desktop {
    height: 55vh;
  }
}

.bannerTitle {
  text-align: center;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  h2 {
    font-family: Roboto Condensed;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
  @include Desktop {
    h2 {
      font-size: 4rem;
    }
  }
  @include round-button
}

.content {
  padding-bottom: 50px;
  max-width: 1280px;
  margin: 0 auto;
}
