@import "../../styles/mixins.scss";

.banner {
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerTitle {
  text-align: center;
  color: white;
  h2 {
    font-size: 4rem;
    font-family: Roboto Condensed;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
  @include round-button
}

.content {
  padding-bottom: 50px;
}
