@import "../../styles/mixins.scss";

.navbar {
  width: 100%;
  margin-top: 100px;
  position: absolute;
  top: 0;
  z-index: 9;
}

.navBarContainer {
  @include max-width-center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  height: 60px;
  img {
    height: 100%;
  }
}
