@import "../../styles/mixins.scss";

.jumbotronContainer {
  width: 100%;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.overlayText {
  margin: 0 auto;
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 5%;
  @include Desktop {
    right: 15%;
  }
  h2 {
    font-size: 1.8rem;
    color: white;
    text-align: right;
    @include Desktop {
      width: 100%;
      font-size: 3rem;
    }
  }
}

.galleryItem {
  width: 100%;
}

.galleryImage {
  width: 100%;
  padding-top: 55vh;
}

.jumbotron {
  .slick-dots {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 15%;
    width: 20px;
    li {
      margin: 25% 0;
    }
  }

  .slick-dots li button:before {
    font-size: 8px;
  }

  .slick-dots li button:before {
    color: white;
    opacity: .65;
  }

  .slick-dots li.slick-active button:before {
    color: white;
    opacity: 1;
  }
}
