@import "../../styles/mixins.scss";

.skillsContainer {
  padding: 150px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skillList {
  line-height: 1;
  position: relative;
  z-index: 10;

  .skillItem {
    position: relative;
    display: block;
    color: $deepGrey;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0 0 1.5em;
    cursor: pointer;

    .highlight {
      transition: all 0.2s ease;
      position: absolute;
      top: 0;
      height: 100%;
      width: 0;
      background-color: $primary;
      opacity: 0.3;
    }
  }

  .skillItem:hover {
    .highlight {
      width: 50%;
    }
  }
}

.skillBox {
  position: relative;
  width: 40%;
}

.skillBox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.skillContent:hover {
  transform: scale(1.02);
  z-index: 9;
}

.skillContent {
  transition: all 0.5s ease;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10%;
  color: white;
  a {
    color: white;
  }
}
